:root {
  --dark-red: #780000;
  --red: #c1121f;
  --beige: #fdf0d5;
  --dark-blue: #003049;
  --blue: #449bbc;

  --body: var(--red);
  --background: var(--beige);
  --body-alt: var(--beige);
  --background-alt: var(--dark-red);
}

@media (prefers-color-scheme: dark) {
  :root {
    --body: var(--beige);
    --background: var(--dark-blue);
    --body-alt: var(--dark-blue);
    --background-alt: var(--beige);
  }
}

body {
  min-height: 100vh;
  font-family: sans-serif;
  color: var(--body);
  background: var(--background);

  display: flex;
  flex-direction: column;
  align-items: stretch;
}

main {
  flex: 1;
  margin-block: 1rem;
  margin-inline: 2rem;
}

body > hgroup {
  margin-block: 2rem;
  text-align: center;
}

body h1 {
  margin-block: 0;
  font-weight: bold;
  font-size: 2.5em;
}

address {
  font-style: initial;
}

button {
  cursor: pointer;
}

:focus {
  outline-width: 2px;
  outline-style: solid;
  outline-color: var(--background-alt);
  outline-offset: 0.25lh;
}

@supports (selector(:focus-visible)) {
  :focus {
    outline-width: revert;
    outline-style: revert;
    outline-color: revert;
    outline-offset: revert;
  }

  :focus-visible {
    outline-width: 2px;
    outline-style: solid;
    outline-color: var(--background-alt);
    outline-offset: 0.25lh;
  }
}

.symbol-cards {
  --card-size: 5rem;

  max-width: 70rem;
  margin-inline: auto;

  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(var(--card-size), 1fr));
  gap: 1.75rem;
}

.symbol-text {
  display: block;
  line-height: 1.1;
  font-size: calc(0.65 * var(--card-size));
  padding: 0.2em;
}

.symbol-card {
  text-align: center;
}

.symbol-card button {
  color: var(--body-alt);
  background: var(--background-alt);

  width: 100%;
  padding: 0.35rem;
  border-radius: 0.5rem;
}

.symbol-card button:is(:active, :hover) {
  background-color: color-mix(in oklab, var(--body-alt) 40%, var(--background-alt) 100%);
}

footer {
  --space: 1.5em;

  margin-block: var(--space);
  padding-inline: var(--space);
  width: 100%;
}

.bottom-nav {
  font-family: serif;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-end;
  gap: var(--space);
}

.bottom-nav > ul {
  --flow-space: 0.5em;
}

/* Utilities */

.flow > * + * {
  margin-block-start: var(--flow-space, 1em);
}
