:root {
  --dark-red: #780000;
  --red: #c1121f;
  --beige: #fdf0d5;
  --dark-blue: #003049;
  --blue: #449bbc;

  --body: var(--red);
  --background: var(--beige);
  --body-alt: var(--beige);
  --background-alt: var(--dark-red);
}

@media (prefers-color-scheme: dark) {
  :root {
    --body: var(--beige);
    --background: var(--dark-blue);
    --body-alt: var(--dark-blue);
    --background-alt: var(--beige);
  }
}

body {
  min-height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;

  font-family: sans-serif;
  color: var(--body);
  background: var(--background);
}

body > h1 {
  margin-block: 1em;

  text-align: center;
  font-weight: bold;
  font-size: 2.5em;
  text-decoration: underline;
}

address {
  font-style: initial;
}

.flow > * + * {
  margin-block-start: var(--flow-space, 1em);
}

.symbol-cards {
  --card-size: 5rem;
  margin-block: 1rem;
  margin-inline: max(1rem, calc(50vw - 5 * var(--card-size)));

  display: grid;
  grid-template-columns: repeat(auto-fill, var(--card-size));
  justify-content: center;
  gap: 1.75rem;
}

.symbol-text {
  display: block;
  line-height: 1.1;
  font-size: calc(0.65 * var(--card-size));
  margin: 0;
  padding: 0.1em;
}

.symbol-card {
  text-align: center;
}

.symbol-card button {
  color: var(--body-alt);
  background: var(--background-alt);

  margin-block-start: 0.5rem;
  padding: 0.35rem;
  border-radius: 0.5rem;
}

.symbol-card :is(button:active, button:hover) {
  background-color: color-mix(in oklab, var(--body-alt) 40%, var(--background-alt) 100%);
}

footer {
  --space: 1.5em;

  margin-block: var(--space);
  padding-inline: var(--space);
  width: 100%;
}

.bottom-nav {
  font-family: serif;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-end;
  gap: var(--space);
}

.bottom-nav > ul {
  --flow-space: 0.5em;
}
